body {
    background-color: #F5CF9C;
    background-image: url("https://i.imgur.com/Uddccre.png");
    background-size: 1220px;
    background-position-x: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
}

.text {
    color: #4178BF;
    font-family: 'Tilt Warp';
    text-shadow: 2px 2px blanchedalmond;
}


.center {
    background-color: aliceblue;
    width: 37%;
    position: relative;
}

.row {
    display: flex;
    height: 3.2vh;
    border: .5px solid black;
}

.square {
    border: .5px solid black;
    width: 3.2vh;
    background-color: white;
}


.green {
    background-color: green;
}

.red {
    background-color: red;
}

#snake {
    text-align: center;
    font-size: 5em;
    position: relative;
    margin: 0%;
}

#yourscore {
    display: block;
    position: relative;
    top: 25px;
    left: 1000px;
}